{% extends "zvms/base.html" %}
{% from "util.html" import pagination %}
{% block container %}
{% for userid, username, volid, volname, status, badge in data %}
<div class="card">
    <div class="card-body">
        <a class="h4" href="/thought/{{volid}}/{{userid}}">查看</a>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><a href="/volunteer/{{volid}}">{{volname}}</a></li>
            <li class="list-group-item"><a href="/user/{{userid}}">{{username}}</a></li>
        </ul>
        <div class="card-footer">
            <span class="badge bg-{{badge}}">{{status}}</span>
        </div>
    </div>
</div>
{% endfor %}
{{pagination(base_url, page, pages, total)}}
{% endblock %}