{% macro pagination(base_url, page, pages, total) %}
<form action="{{base_url}}">
    <div class="row">
        <div class="col-8">
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="{{base_url}}?page=0">首页</a></li>
                {% for i in pages %}
                <li class="page-item{{' active' if i == page else ''}}"><a class="page-link"
                        href="{{base_url}}?page={{i}}">{{i + 1}}</a></li>
                {% endfor %}
                <li class="page-item"><a class="page-link" href="{{base_url}}?page={{(total - 1) // 10}}">尾页</a></li>
                <li class="page-item disabled"><a class="page-link">共{{(total - 1) // 10}}页, {{total}}项</a></li>
            </ul>
        </div>
        <div class="input-group col">
            <input class="form-control" type="number" name="page" placeholder="输入页数">
            <button class="btn btn-primary" type="submit">跳转</button>
        </div>
    </div>
</form>
{% endmacro %}
{% macro vol_types(selected=0) %}
<select class="form-select" name="type">
    {% if selected == 0 %}
    <option>选择义工类型</option>
    {% else %}
    <option selected>选择义工类型</option>
    {% endif %}
    {% for value, text in varargs %}
    {% if selected == value %}
    <option value="{{value}}" selected>{{text}}</option>
    {% else %}
    <option value="{{value}}">{{text}}</option>
    {% endif %}
    {% endfor %}
</select>
{% endmacro %}
{% macro submit_or_reset() %}
<div class="col-6">
    <button class="btn btn-primary" type="submit">提交</button>
</div>
<div class="col-6">
    <input class="btn btn-primary" type="reset" value="重置">
</div>
{% endmacro %}