{% extends "base.html" %}
{% block title %}镇海中学义工管理系统 - API文档{% endblock %}
{% block body_style %}d-flex flex-nowrap{% endblock %}
{% block nav %}
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvas" aria-labelledby="offcanvas-label">
    <div class="offcanvas-header">
        <a href="#" class="d-flex align-items-center pb-3 mb-3 link-body-emphasis text-decoration-none border-bottom">
            <span class="fs-5 fw-semibold" data-bs-dismiss="offcanvas" aria-label="Close">ZVMS</span>
        </a>
    </div>
    <div class="offcanvas-body">
        <ul class="list-unstyled ps-0">
            <li class="mb-1">
                <a class="link-body-emphasis text-decoration-none rounded" href="/structs.html">
                    <i class="bi bi-table"></i>
                    接口
                </a>
            </li>
            <li class="mb-1">
                <a class="link-body-emphasis text-decoration-none rounded" href="/database.html">
                    <i class="bi bi-database"></i>
                    数据库
                </a>
            </li>
            <li class="mb-1">
                <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
                    data-bs-toggle="collapse" data-bs-target="#enums-collapse" aria-expanded="false">
                    枚举
                </button>
                <div class="collapse" id="enums-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        {% for enum in enums %}
                        <li>
                            <a href="/enums.html#{{enum}}" class="link-body-emphasis text-decoration-none rounded">
                                {{enum}}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </li>
            <li class="mb-1">
                <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
                    data-bs-toggle="collapse" data-bs-target="#blueprints-collapse" aria-expanded="false">
                    蓝图
                </button>
                <div class="collapse" id="blueprints-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        {% for blueprint in blueprints %}
                        <li>
                            <a href="/blueprints.html#{{blueprint.name}}" class="link-body-emphasis text-decoration-none rounded">
                                {{blueprint.name}}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>
<a class="position-fixed bottom-0 mb-3 me-3 h4" data-bs-toggle="offcanvas" href="#offcanvas" role="button" aria-controls="offcanvas">
    <i class="bi bi-command"></i>
</a>
{% endblock %}