{% extends "document/base.html" %}
{% block container %}
<div style="height: 100vh; overflow: auto">
    {% for name, fields in data %}
    <div class="card card-body" id="{{name}}">
        <h2 class="card-title">{{name}}</h2>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">字段名</th>
                    <th scope="col">字段值</th>
                    <th scope="col">字符串</th>
                </tr>
            </thead>
            <tbody>
                {% for attr, value, string in fields %}
                <tr>
                    <td><code>{{attr}}</code></td>
                    <td>{{value.value}}</td>
                    <td>{{string}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endfor %}
</div>
{% endblock %}