{% extends "document/base.html" %}
{% block container %}
<div class="row">
    <div id="list-nav" class="col-3">
        <div class="list-group list-group-flush">
            {% for name, _ in data %}
            <a class="list-group-item list-group-item-action" href="#{{name}}">{{name}}</a>
            {% endfor %}
        </div>
    </div>
    <div class="col">
        <div data-bs-spy="scroll scrollbar" data-bs-target="#list-nav" data-bs-smooth-scroll="true" tabindex="0">
            {% for name, content in data %}
            <div class="card" id="{{name}}">
                <h3 class="card-title">{{name}}</h3>
                <p class="card-text">
                <pre><code>{{content|safe}}</code></pre>
                </p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}