{% extends "zvms/base.html" %}
{% block container %}
<style>
    .f {
        font-weight: 900;
        font-size: x-large;
    }
</style>
<h1>关于ZVMS</h1>
<p style="font-size: medium">
    <span class="f">Z</span>henhai High School
    <span class="f">V</span>olunteer
    <span class="f">M</span>anagement
    <span class="f">S</span>ystem
</p>
<h2>关于开发者</h2>
<p>本项目由 <small><a id="a"><small>qnc</small></a></small> 开发</p>
<p>源码<a href="#">https://github.com/zvmsbackend/zvms-bootstrap</a></p>
<img src="https://img.shields.io/github/stars/zvmsbackend/zvms-bootstrap?logo=github">
{% if _login %}
<form action="/issue" method="POST">
    <div class="form-group">
        <label class="form-label" for="content">反馈:</label>
        <textarea class="form-control" name="content" id="content" maxlength="64" rows="5" required></textarea>
    </div>
    <button class="btn btn-primary" type="submit" id="submit">提交反馈</button>
</form>
<p>你今天还能提交{{5 - issues_today}}条反馈</p>
{% if issues_posted %}
<h2>已提交的反馈</h2>
<table class="table">
    <thead>
        <th scope="col">时间</th>
        <th scope="col">内容</th>
    </thead>
    <tbody>
        {% for time, content in issues_posted %}
        <tr>
            <td>{{time}}</td>
            <td>{{content}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
你还没有提交过反馈
{% endif %}
{% endif %}
<script>
    const a = document.getElementById('a');
    let counter = 0;
    a.addEventListener('click', (e) => {
        counter++;
        if (counter == 19) {
            a.setAttribute('href', '/toolkit');
        }
    });
</script>
{% endblock %}