{% extends "zvms/base.html" %}
{% block container %}
<link rel="stylesheet" data-name="vs/editor/editor.main"
    href="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.20.0/min/vs/editor/editor.main.min.css">
<ul class="nav nav-tabs" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#permission-tab-pane" type="button"
            role="tab" aria-controls="permission-tab-pane" aria-selected="true">修改用户权限</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" data-bs-toggle="tab" data-bs-target="#login-tab-pane" type="button" role="tab"
            aria-controls="login-tab-pane" aria-selected="false">登录他人账号</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" data-bs-toggle="tab" data-bs-target="#editor-tab-pane" type="button" role="tab"
            aria-controls="editor-tab-pane" aria-selected="false">HTML编辑器</button>
    </li>
</ul>
<div class="tab-content">
    <div class="tab-pane fade show active" id="permission-tab-pane" role="tabpanel" aria-labelledby="permission-tab"
        tabindex="0">
        <form action="/admin/permission" method="POST">
            <div class="form-group">
                <label class="form-label" for="userident">输入用户名或ID</label>
                <input class="form-control" type="text" id="userident" name="userident" placeholder="用户名或ID">
            </div>
            {% for value, name in permission2str.items() %}
            {% if value != Permission.ADMIN %}
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="check-{{value.value}}" name="perm"
                    value="{{value.value}}">
                <label class="form-check-label" for="check-{{value.value}}">{{name}}</label>
            </div>
            {% endif %}
            {% endfor %}
            <button class="btn btn-primary" type="submit">修改用户权限</button>
        </form>
    </div>
    <div class="tab-pane fade" id="login-tab-pane" role="tabpanel" aria-labelledby="login-tab" tabindex="0">
        <form action="/admin/login" method="POST">
            <div class="form-group">
                <label class="form-label" for="userident">输入用户名或ID</label>
                <input class="form-control" type="text" id="userident" name="userident" placeholder="用户名或ID">
            </div>
            <button class="btn btn-primary" type="submit">登录</button>
        </form>
    </div>
    <div class="tab-pane fade" id="editor-tab-pane" role="tabpanel" aria-labelledby="editor-tab" tabindex="0">
        <h3>HTML编辑器</h3>
        <div id="input" style="height:400px; border:1px solid black;"></div>
        <div class="card card-body" style="height:400px; border:1px solid black;" id="output"></div>
        <button class="btn btn-primary" type="button" id="confirm">确定</button>
        <script>
            const output = document.getElementById("output");
            document.getElementById('confirm').addEventListener('click', (e) => {
                output.innerHTML = Array.from(document.querySelectorAll('.view-line>span')).map(n => n.innerText).join('\n').replaceAll('\u00A0', ' ');
            });
        </script>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.26.1/min/vs/loader.min.js"></script>
<script>
    require.config({ paths: { 'vs': 'https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.26.1/min/vs' }});
    require(["vs/editor/editor.main"], () => undefined);
    setTimeout(() => monaco.editor.create(document.getElementById('input'), {
        value: '<a href="">PLACEHOLDER</a>',
        language: 'html',
        theme: 'vs-dark',
    }), 1000)
</script>
{% endblock %}