{% extends "zvms/base.html" %}
{% block container %}
{% if notices %}
<div class="row">
    <div id="list-nav" class="col-3">
        <div class="list-group list-group-flush">
            {% for id, title, _, _, _, _, _ in notices %}
            <a class="list-group-item list-group-item-action" href="#notice-{{id}}">{{title}}</a>
            {% endfor %}
        </div>
    </div>
    <div class="col">
        <div data-bs-spy="scroll" data-bs-target="#list-nav" data-bs-smooth-scroll="true" style="height: 100vh; overflow: auto" tabindex="0">
            {% for id, title, content, expire, senderid, sender, targets in notices %}
            <div class="card">
                <div class="card-body">
                    <form method="POST" id="notice-{{id}}">
                        <input type="hidden" name="noticeid" value="{{id}}">
                        {% if targets %}
                        <div class="row">
                            <div class="col-8">
                                通知发送给了:
                            </div>
                            <div class="col">
                                <button class="btn btn-primary targets-adder" type="button" notice-id="{{id}}">添加</button>
                            </div>
                        </div>
                        <div class="form-group targets-{{id}}">
                        {% for i, (userid, username) in targets %}
                        {% if i == 0 %}
                        {{username}}
                        <input class="form-control" type="text" name="targets" value="{{userid}}" required>
                        {% else %}
                        <div class="row" id="target-{{i}}">
                            {{username}}
                            <div class="col-8">
                                <input class="form-control" type="text" name="targets" value="{{userid}}" required>
                            </div>
                            <div class="col">
                                <button class="btn btn-danger" type="button" onclick="document.getElementById('target-{{i}}').remove()">删除</button>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                        </div>
                        {% endif %}
                        <div class="row">
                            <div class="col-6">
                                <label class="form-label" for="title">输入标题</label>
                                <input class="form-control" type="text" id="title" name="title" value="{{title}}" maxlength="32" required>
                            </div>
                            <div class="col-6">
                                <label class="form-label" for="expire">输入过期时间</label>
                                <input class="form-control" type="date" id="expire" name="expire" value="{{expire}}" required>
                            </div>
                            <div class="col-12">
                                <label class="form-label" for="content">输入通知内容</label>
                                <textarea class="form-control" name="content" rows="10" required>{{content}}</textarea>
                            </div>
                        </div>
                        <p><small>来自 <a href="/user/{{senderid}}">{{sender}}</a></small></p>
                        <button class="btn btn-primary" type="submit">修改</button>
                    </form>
                    <form action="/management/delete-notice" method="POST">
                        <input type="hidden" name="noticeid" value="{{id}}">
                        <button class="btn btn-danger" type="submit">删除</button>
                    </form>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<script>
    let targetsCount = {{targets|length}};
</script>
<script>
    for (const adder of document.querySelectorAll('button.targets-adder')) {
        const noticeId = adder.getAttribute('notice-id');
        const targets = document.querySelector(`div.targets-${noticeId}`);
        adder.addEventListener('click', (e) => {
            targets.append(util.createElement(
                'div',
                {
                    class: 'row',
                    id: `target-${targetsCount}`
                },
                `<div class="col-8">
                    <input class="form-control" type="text" name="targets" required>
                </div>
                <div class="col">
                    <button class="btn btn-danger" type="button" onclick="document.getElementById('target-${targetsCount}').remove()">删除</button>
                </div>`
            ));
            targetsCount++;
        });
    }
</script>
{% else %}
你还没有发送过通知
{% endif %}
{% endblock %}