{% extends "zvms/base.html" %}
{% block container %}
<h1>{{username}}</h1>
<p>{{userid}} {{permission}}</p>
<p><a href="/user/class/{{classid}}">{{class_name}}</a></p>
<table class="table">
    <thead>
        <tr>
            <th>义工类型</th>
            <th>义工时间</th>
        </tr>
    </thead>
    <tbody>
        {% for type, subscr in (('校内义工', 1), ('校外义工', 2), ('社会实践', 3)) %}
        <tr>
            <td>{{type}}</td>
            <td>{{scores.get(subscr, 0)}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% if is_self %}
<ul class="nav nav-tabs" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#password-tab-pane" type="button"
            role="tab" aria-controls="password-tab-pane" aria-selected="true">修改密码</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" data-bs-toggle="tab" data-bs-target="#notice-tab-pane" type="button" role="tab"
            aria-controls="notice-tab-pane" aria-selected="false">查看通知</button>
    </li>
</ul>
<div class="tab-content">
    <div class="tab-pane fade show active" id="password-tab-pane" role="tabpanel" aria-labelledby="password-tab"
        tabindex="0">
        <form action="/user/modify-password" method="POST" id="modify-password">
            <input type="hidden" name="target" value="{{userid}}">
            <div class="input-group mb-3">
                <i class="bi bi-file-lock input-group-text"></i>
                <input class="form-control" type="password" id="old" name="old" placeholder="旧密码" required>
            </div>
            <div class="input-group mb-3">
                <i class="bi bi-lock input-group-text"></i>
                <input class="form-control" type="password" id="new" name="new" placeholder="新密码" required>
            </div>
            <div class="input-group mb-3">
                <i class="bi bi-lock-fill input-group-text"></i>
                <input class="form-control" type="password" id="confirm" placeholder="确认密码" required>
            </div>
            <button class="btn btn-primary" type="submit">修改密码</button>
        </form>
        <script>
            document.getElementById('modify-password').addEventListener('submit', (e) => {
                if (document.getElementById('new').value !== document.getElementById('confirm').value) {
                    e.preventDefault();
                    alert('两次密码不一致');
                }
            });
        </script>
    </div>
    <div class="tab-pane fade" id="notice-tab-pane" role="tabpanel" aria-labelledby="notice-tab" tabindex="0">
        <div class="accordion" id="notices">
            {% if notices %}
            {% for i, title, content, expire, senderid, sender in notices %}
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading-{{i}}">
                    <button class="accordion-button{{'' if i == 0 else ' collapsed'}}" type="button"
                        data-bs-toggle="collapse" data-bs-target="#notice-{{i}}" aria-expanded="true"
                        aria-controls="notice-{{i}}">
                        {{title}}
                    </button>
                </h2>
                <div id="notice-{{i}}" class="accordion-collapse collapse{{' show' if i == 0 else ''}}"
                    aria-labelledby="heading-{{i}}" data-bs-parent="#notices">
                    <div class="accordion-body">
                        {{content|safe}}
                        <small>来自 <a href="/user/{{senderid}}">{{sender}}</a> 过期于{{expire}}</small>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            没有通知
            {% endif %}
        </div>
    </div>
    {% endif %}
    {% endblock %}