body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
}

html {
    height: -webkit-fill-available;
}

main {
    height: 100vh;
    height: -webkit-fill-available;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
}

.dropdown-toggle {
    outline: 0;
}

.btn-toggle {
    padding: .25rem .5rem;
    font-weight: 600;
    color: var(--bs-emphasis-color);
    background-color: transparent;
}

.btn-toggle:hover,
.btn-toggle:focus {
    color: rgba(var(--bs-emphasis-color-rgb), .85);
    background-color: var(--bs-tertiary-bg);
}

.btn-toggle::before {
    width: 1.25em;
    line-height: 0;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transition: transform .35s ease;
    transform-origin: .5em 50%;
}

[data-bs-theme="dark"] .btn-toggle::before
[data-bs-theme="blue"] .btn-toggle::before {
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%28255,255,255,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
}

.btn-toggle[aria-expanded="true"] {
    color: rgba(var(--bs-emphasis-color-rgb), .85);
}

.btn-toggle[aria-expanded="true"]::before {
    transform: rotate(90deg);
}

.btn-toggle-nav a {
    padding: .1875rem .5rem;
    margin-top: .125rem;
    margin-left: 1.25rem;
}

.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
    background-color: var(--bs-tertiary-bg);
}

.scrollarea {
    overflow-y: auto;
}

html[data-bs-theme="blue"] div.flex-shrink-0 {
    background-color: #171a21;
}

html[data-bs-theme="blue"] div.container-fluid {
    background: url('https://store.st.dl.eccdnx.com/public/images/v6/colored_body_top.png?v=2') center top no-repeat #1b2838;
}

html[data-bs-theme="blue"] .copyright::before {
    content: url('https://help.steampowered.com/public/images/footerLogo_valve_new.png')
}

[data-bs-theme="blue"] {
    color-scheme: dark;
    --bs-body-color: #0080ff;
    --bs-body-bg: #002a54;
    --bs-emphasis-color: #2d0ba7;
    --bs-emphasis-color-rgb: rgb(13, 0, 255);
    --bs-secondary-color: rgba(112, 172, 232, 0.75);
    --bs-secondary-color-rgb: 173,181,189;
    --bs-secondary-bg: #343a40;
    --bs-secondary-bg-rgb: 52,58,64;
    --bs-tertiary-color: rgba(44, 79, 114, 0.5);
    --bs-tertiary-bg: #2b3035;
    --bs-primary-text-emphasis: #6ea8fe;
    --bs-secondary-text-emphasis: #6e8ead;
    --bs-success-text-emphasis: #00c3ff;
    --bs-info-text-emphasis: #6edff6;
    --bs-warning-text-emphasis: #1419a2;
    --bs-danger-text-emphasis: #bb86ea;
    --bs-light-text-emphasis: #f8f9fa;
    --bs-dark-text-emphasis: #dee2e6;
    --bs-primary-bg-subtle: #031633;
    --bs-secondary-bg-subtle: #161719;
    --bs-success-bg-subtle: #051b11;
    --bs-info-bg-subtle: #032830;
    --bs-warning-bg-subtle: #332701;
    --bs-danger-bg-subtle: #2c0b0e;
    --bs-light-bg-subtle: #343a40;
    --bs-dark-bg-subtle: #1a1d20;
    --bs-primary-border-subtle: #084298;
    --bs-secondary-border-subtle: #41464b;
    --bs-success-border-subtle: #0f5132;
    --bs-info-border-subtle: #087990;
    --bs-warning-border-subtle: #997404;
    --bs-danger-border-subtle: #842029;
    --bs-light-border-subtle: #495057;
    --bs-dark-border-subtle: #343a40;
    --bs-heading-color: inherit;
    --bs-link-color: #6ea8fe;
    --bs-link-hover-color: #8bb9fe;
    --bs-link-color-rgb: 110,168,254;
    --bs-link-hover-color-rgb: 139,185,254;
    --bs-code-color: #4621dd;
    --bs-border-color: #495057;
    --bs-border-color-translucent: rgba(255, 255, 255, 0.15);
    --bs-form-valid-color: #75b798;
    --bs-form-valid-border-color: #75b798;
    --bs-form-invalid-color: rgb(201, 27, 42);
    --bs-form-invalid-border-color: #ff0015;
}

html[data-bs-theme="O"] div.flex-shrink-0 {
    background-color: #1f2233;
}

html[data-bs-theme="O"] div.flex-shrink-0 span,
html[data-bs-theme="O"] div.flex-shrink-0 button {
    color: #fff;
}

html[data-bs-theme="O"] div.container-fluid {
    background: url('https://www.miyoushe.com/_nuxt/img/background.cd0a312.png') no-repeat 0 62px;
    background-size: 100%;
}

html[data-bs-theme="O"] {
    --bs-body-color: #999;
    --bs-heading-color: #000;
}