{% extends "zvms/base.html" %}
{% from "util.html" import submit_or_reset %}
{% block container %}
<p>校内义工是管理员创建的义工, 以招募的形式发布, 需要指定每个班可报名的最大人数</p>
<form action="{{action}}" method="POST">
    <div class="row">
        <div class="col-12 input-group mb-3">
            <i class="bi bi-pen input-group-text"></i>
            <input class="form-control" type="text" id="name" name="name" placeholder="义工名称" maxlength="32"
                value="{{name}}" required>
        </div>
        <div class="col-12 input-group mb-3">
            <i class="bi bi-justify-left input-group-text"></i>
            <textarea class="form-control" id="description" name="description" rows="5"
                placeholder="义工描述" required>{{description}}</textarea>
        </div>
        <div class="col-6 input-group mb-3">
            <label class="input-group-text" for="time">义工报名截止时间</label>
            <input class="form-control" type="date" id="time" name="time" value="{{time}}" required>
        </div>
        <div class="col-6 input-group mb-3">
            <i class="bi bi-clock input-group-text"></i>
            <input class="form-control" type="number" id="reward" placeholder="义工时间" name="reward" value="{{reward}}"
                required>
        </div>
        <div class="col-12 mb-3" id="classes">
            <div class="input-group">
                <input class="form-control" type="number" name="classes" placeholder="班级ID"
                    value="{{classes[0][0] if classes else ''}}" required>
                <input class="form-control" type="number" name="classes_max" placeholder="允许报名的最大人数"
                    value="{{classes[0][1] if classes else ''}}" required>
                <button class="btn btn-primary" type="button" id="add-class">添加</button>
            </div>
            {% if classes %}
            {% for classid, max in classes[1:] %}
            <div class="input-group" id="class-{{classid}}">
                <input class="form-control" type="number" name="classes" placeholder="班级ID" value="{{classid}}"
                    required>
                <input class="form-control" type="number" name="classes_max" placeholder="允许报名的最大人数" value="{{max}}"
                    required>
                <button class="btn btn-danger" type="button"
                    onclick="document.getElementById('class-{{classid}}').remove()">删除</button>
            </div>
            {% endfor %}
            {% endif %}
        </div>
        {{submit_or_reset()}}
    </div>
</form>
<script>
    const classes = document.getElementById('classes');
    let classesCount = classes.childElementCount;
    document.getElementById('add-class').addEventListener('click', (e) => {
        classesCount++;
        classes.append(util.createElement(
            'div',
            {
                class: 'row',
                id: `class-${classesCount}`
            },
            `<div class="input-group" id="class-${classesCount}">
                <input class="form-control" type="number" name="classes" placeholder="班级ID" required>
                <input class="form-control" type="number" name="classes_max" placeholder="允许报名的最大人数" required>
                <button class="btn btn-danger" type="button"
                    onclick="document.getElementById('class-${classesCount}').remove()">删除</button>
            </div>`
        ));
    });
</script>
{% endblock %}