{% extends "zvms/base.html" %}
{% from "util.html" import vol_types, submit_or_reset %}
{% block container %}
<p>特殊义工是管理员创建的义工, 用于竞赛获奖, 大型实践等场合. 它的参与者无需填写感想</p>
<form action="{{action}}" method="POST">
    <div class="row">
        <div class="col-6">
            <label class="form-label" for="name">输入义工名称</label>
            <input class="form-control" type="text" id="name" name="name" placeholder="义工名称" maxlength="32" value="{{name}}" required>
        </div>
        <div class="col-6">
            {{vol_types(type if type else 0, (1, '校内义工'), (2, '校外义工'), (3, '大型实践'))}}
        </div>
        <div class="col-12" id="joiners">
            <div class="row">
                <div class="col-5">
                    <input class="form-control" type="text" name="joiners" placeholder="用户ID或姓名" value="{{joiners[0][0] if joiners else ''}}" required>
                </div>
                <div class="col-5">
                    <input class="form-control" type="number" name="rewards" placeholder="获得的义工时间" value="{{joiners[0][1] if joiners else ''}}" required>
                </div>
                <div class="col">
                    <button class="btn btn-primary" type="button" id="add-joiner">添加</button>
                </div>
            </div>
            {% if joiners %}
            {% for userid, reward in joiners[1:] %}
            <div class="row" id="joiner-{{userid}}">
                <div class="col-5">
                    <input class="form-control" type="text" name="joiners" placeholder="用户ID或姓名" value="{{userid}}" required>
                </div>
                <div class="col-5">
                    <input class="form-control" type="number" name="rewards" placeholder="获得的义工时间" value="{{reward}}">
                </div>
                <div class="col">
                    <button class="btn btn-danger" type="button" onclick="document.getElementById('joiner-{{userid}}').remove()">删除</button>
                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
        <p>如果只填写了一个义工时间, 那么所有参与者都将获得相同的义工时间</p>
        {{submit_or_reset()}}
    </div>
</form>
<script>
    const joiners = document.getElementById('joiners');
    let joinersCount = joiners.childElementCount;
    document.getElementById('add-joiner').addEventListener('click', (e) => {
        joinersCount++;
        joiners.append(util.createElement(
            'div',
            {
                class: 'row',
                id: `joiner-${joinersCount}`
            },
            `<div class="col-5">
                <input class="form-control" type="text" name="joiners" placeholder="用户ID或姓名" required>
            </div>
            <div class="col-5">
                <input class="form-control" type="number" name="rewards" placeholder="获得的义工时间">
            </div>
            <div class="col">
                <button class="btn btn-danger" type="button" id="add-class" onclick="document.getElementById('joiner-${joinersCount}').remove()">删除</button>
            </div>`
        ));
    });
</script>
{% endblock %}