{% extends "zvms/base.html" %}
{% from "util.html" import vol_types, submit_or_reset %}
{% block container %}
<p>指定义工是任何人都可以创建的义工, 但只有管理员能创建校内形式的. 创建时必须指定所有参加者. </p>
<form action="{{action}}" method="POST">
    <div class="row">
        <div class="col-12">
            <label class="form-label" for="name">输入义工名称</label>
            <input class="form-control" type="text" id="name" name="name" placeholder="义工名称" maxlength="32" value="{{name}}" required>
        </div>
        <div class="col-12">
            <label class="form-label" for="description">输入义工描述</label>
            <textarea class="form-control" id="description" name="description" rows="5" required>{{description}}</textarea>
        </div>
        <div class="col-{{'6' if Permission.MANAGER.authorized(_permission) else '12'}}">
            <label class="form-label" for="reward">输入预期获得的义工时间</label>
            <input class="form-control" type="number" id="reward" name="reward" placeholder="义工时间" value="{{reward}}" required>
        </div>
        {% if Permission.MANAGER.authorized(_permission) %}
        <div class="col-6">
            {{vol_types(type if type else 0, (1, '校内义工'), (2, '校外义工'))}}
        </div>
        {% else %}
        <input type="hidden" name="type" value="2">
        {% endif %}
        <div class="col-12" id="participants">
            <div class="row">
                <div class="col-8">
                    <input class="form-control" type="text" name="participants" placeholder="用户ID或姓名" value="{{participants[0] if participants else ''}}" required>
                </div>
                <div class="col">
                    <button class="btn btn-primary" type="button" id="add-participant">添加</button>
                </div>
            </div>
            {% if participants %}
            {% for userid in participants[1:] %}
            <div class="row" id="participant-{{userid}}">
                <div class="col-8">
                    <input class="form-control" type="text" name="participants" placeholder="用户ID或姓名" value="{{userid}}" required>
                </div>
                <div class="col">
                    <button class="btn btn-danger" type="button" onclick="document.getElementById('participant-{{userid}}').remove()">删除</button>
                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
        {{submit_or_reset()}}
    </div>
</form>
<script>
    const participants = document.getElementById('participants');
    let participantsCount = participants.childElementCount;
    document.getElementById('add-participant').addEventListener('click', (e) => {
        participantsCount++;
        participants.append(util.createElement(
            'div',
            {
                class: 'row',
                id: `participant-${participantsCount}`
            },
            `<div class="col-8">
                <input class="form-control" type="text" name="participants" placeholder="用户ID或姓名" required>
            </div>
            <div class="col">
                <button class="btn btn-danger" type="button" id="add-class" onclick="document.getElementById('participant-${participantsCount}').remove()">删除</button>
            </div>`
        ))
    });
</script>
{% endblock %}