{% extends "zvms/base.html" %}
{% from "util.html" import pagination %}
{% block container %}
<form action="/volunteer/search">
    <div class="input-group">
        <input class="form-control" type="text" name="name" placeholder="输入义工名称">
        <button class="btn btn-primary" type="submit">搜索</button>
    </div>
</form>
{% for id, name, status, holderid, holder, type in data %}
<div class="card">
    <div class="card-body">
        <h5 class="card-title"><a href="/volunteer/{{id}}">{{name}}</a></h5>
        <h6 class="card-subtitle mb-2 text-muted">{{id}}</h6>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">由<a href="/user/{{holderid}}">{{holder}}</a>创建</li>
        <li class="list-group-item"><span
                class="badge bg-primary-subtle text-primary-emphasis rounded-pill bg-primary">{{type}}</span></li>
        <li class="list-group-item"><span class="badge bg-{{status.badge()}}">{{status}}</span></li>
    </ul>
</div>
{% endfor %}
{{pagination(base_url, page, pages, total)}}
{% endblock %}