{% extends "zvms/base.html" %}
{% block container %}
<h2>{{name}}</h2>
<p>{{description}}</p>
<p>{{type}} {{status}}</p>
<p>由<a href="/user/{{holderid}}">{{holder}}</a>创建</p>
<p>预期时长: {{reward}}分钟</p>
<p>
    {% if can_signup %}
    可报名
    <form action="/volunteer/{{id}}/signup" method="POST">
        <button class="btn btn-primary" type="submit">报名</button>
    </form>
    {% else %}
    不可报名
    {% endif %}
</p>
{% if Permission.CLASS.authorized(_permission) and status == 1 %}
<form action="/volunteer/{{id}}/audit" method="POST">
    <input type="hidden" name="status" value="2">
    <button class="btn btn-primary" type="submit">通过义工</button>
</form>
<form action="/volunteer/{{id}}/audit" method="POST">
    <input type="hidden" name="status" value="3">
    <button class="btn btn-danger" type="submit">打回义工</button>
</form>
{% endif %}
{% if can_audit %}
<form action="/volunteer/{{id}}/audit" method="POST">
    <input type="hidden" name="status" value="2">
    <button class="btn btn-primary" type="submit">通过</button>
</form>
<form action="/volunteer/{{id}}/audit" method="POST">
    <input type="hidden" name="status" value="3">
    <button class="btn btn-danger" type="submit">拒绝</button>
</form>
{% endif %}
{% if holderid == _userid or Permission.MANAGER.authorized(_permission) %}
<a class="btn btn-primary" href="/volunteer/{{id}}/modify" role="button">修改</a>
<form action="/volunteer/{{id}}/delete" method="POST">
    <button class="btn btn-danger" type="submit">删除</button>
</form>
{% endif %}
<h4>已参加者:</h4>
<ul class="list-group">
    {% for joinerid, joinername, thought_visible in joiners %}
    <li class="list-group-item">
        <a href="/user/{{joinerid}}">{{joinername}}</a>
        {% if thought_visible %}
        &nbsp;<a href="/thought/{{id}}/{{joinerid}}">查看感想</a> 
        {% endif %}
        {% if joinerid == _userid or Permission.CLASS.authorized(_permission) %}
        <form action="/volunteer/{{id}}/signup/rollback" method="POST">
            <input type="hidden" name="userid" value="{{joinerid}}">
            <button class="btn btn-danger" type="submit">撤回报名</button>
        </form>
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% if signups %}
<h4>报名者</h4>
<ul class="list-group">
    {% for userid, username in signups %}
    <li class="list-group-item">
        {{username}}
        <form action="/volunteer/{{id}}/signup/accept" method="POST">
            <input type="hidden" name="userid" value="{{userid}}">
            <button class="btn btn-primary" type="submit">通过报名</button>
        </form>
    </li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}