{% extends "toolkit/base.html" %}
{% block container %}
{% if _login %}
{% if profile %}
<div class="card">
    <div class="card-body">
        <h5 class="card-title">{{profile[0]}}</h5>
        <p class="card-text">
            你的生日是{{profile[1]}}年{{profile[2]}}月{{profile[3]}}日
        </p>
    </div>
</div>
{% else %}
<form method="POST">
    <div class="form-group">
        <label class="form-label" for="birthday">输入你的生日</label>
        <input class="form-control" type="date" name="birthday" id="birthday">
    </div>
    <button class="btn btn-primary" type="submit">注册生日</button>
</form>
<p>注意, <u>生日注册后不可修改</u></p>
{% endif %}
{% else %}
<h2>未登录</h2>
{% endif %}
<div class="card">
    <div class="card-body">
        <h5 class="card-title">今天的生日祝福</h5>
    </div>
    <ul class="list-group">
        {% for userid, username in today %}
        <li class="list-group-item">
            <a href="/user/{{userid}}">{{username}}</a>
        </li>
        {% endfor %}
    </ul>
</div>
<div class="card">
    <div class="card-body">
        <h5 class="card-title">本月的生日祝福</h5>
        <p class="card-text">
            {% for userid, username, day in thismonth %}
            <span class="badge bg-{{random_color()}}"><a
                    href="/user/{{userid}}">{{username}}</a>{{month}}-{{day}}</span>
            {% endfor %}
        </p>
    </div>
</div>
{% endblock %}