{% extends "toolkit/base.html" %}
{% block container %}
<h2>天气预报(位置: 镇海中学)</h2>
<div class="card">
    <h3 class="card-title">24小时预报</h5>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">时间</th>
                <th scope="col">气温</th>
                <th scope="col">天气状况</th>
                <th scope="col">降水量</th>
            </tr>
        </thead>
        <tbody id="weather24h"></tbody>
    </table>
    <i id="weather24h-update-time"></i>
</div>
<div class="card">
    <h3 class="card-title">7天预报</h3>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">日期</th>
                <th scope="col">气温</th>
                <th scope="col">天气状况</th>
                <th scope="col">降水</th>
            </tr>
        </thead>
        <tbody id="weather7d"></tbody>
    </table>
    <i id="weather7d-update-time"></i>
</div>
<canvas class="my-4 w-100" id="chart" width="900" height="380"></canvas>
数据来源: 和风天气(www.qweather.com)<br>
抱歉-- qnc真的懒得写好看的UI了, 将就着看看吧~
<script src="https://cdn.staticfile.org/Chart.js/3.9.1/chart.js"></script>
<script type="application/json" id="weather24h-data">{{weather24h|safe}}</script>
<script type="application/json" id="weather7d-data">{{weather7d|safe}}</script>
<script>
    const weather24hData = JSON.parse(document.getElementById('weather24h-data').innerText);
    const weather7dData = JSON.parse(document.getElementById('weather7d-data').innerText);
    const weather24h = document.getElementById('weather24h');
    document.getElementById('weather24h-update-time').innerText = `更新于${new Date(weather24hData.updateTime).toLocaleString()}`;
    for (const {fxTime, temp, text, precip} of weather24hData.hourly) {
        weather24h.append(util.createElement('tr', {},
            `<th scope="row">${new Date(fxTime).toLocaleString()}</th>
            <td>${temp}</td>
            <td>${text}</td>
            <td>${precip}mm</td>`));
    }
    const weather7d = document.getElementById('weather7d');
    document.getElementById('weather7d-update-time').innerText = `更新于${new Date(weather7dData.updateTime).toLocaleString()}`;
    for (const {textDay, textNight, tempMax, tempMin, precip, fxDate} of weather7dData.daily) {
        weather7d.append(util.createElement('tr', {},
            `<th scope="row">${fxDate}</th>
            <td>${tempMin}℃ ~ ${tempMax}℃</td>
            <td>白天: ${textDay ?? '???'}; 夜晚: ${textNight ?? '???'}</td>
            <td>${precip}mm</td>`));
    }
    const ctx = document.getElementById('chart');
    const chart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: weather7dData.daily.map(i => i.fxDate),
            datasets: [{
                label: '最高温度',
                data: weather7dData.daily.map(i => Number.parseInt(i.tempMax)),
                lineTension: 0,
                backgroundColor: 'transparent',
                borderColor: 'red',
                borderWidth: 4,
                pointBackgroundColor: 'red'
            }, {
                label: '最低温度',
                data: weather7dData.daily.map(i => Number.parseInt(i.tempMin)),
                lineTension: 0,
                backgroundColor: 'transparent',
                borderColor: 'blue',
                borderWidth: 4,
                pointBackgroundColor: 'blue'
            }]
        }
    });
</script>
{% endblock %}