{% extends "toolkit/base.html" %}
{% block container %}
<table class="table">
    <thead>
        <tr>
            <th scope="col">英文例句</th>
            <th scope="col">中文例句</th>
            <th scope="col">出处</th>
        </tr>
    </thead>
    <tbody>
        {% for en, cn, li in sentences %}
        <tr>
            <td>{{en}}</td>
            <td>{{cn}}</td>
            <td>{{li}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="row">
    <ul class="pagination">
        {% for i in pages %}
        <li class="page-item">
            <a class="page-link" href="/toolkit/dict/bing/examples?word={{word}}&page={{i}}">{{i}}</a>
        </li>
        {% endfor %}
    </ul>
    <form>
        <input type="hidden" name="word" value="{{word}}">
        <div class="input-group">
            <input class="form-control" type="text" name="page" placeholder="跳转到页数">
            <button class="btn btn-primary" type="submit">确定</button>
        </div>
    </form>
</div>
{% endblock %}